.cyan1 {
    background: #011f17;
}

.cyan2 {
    background: #01362b;
}

.cyan3 {
    background: #015b4f;
}

.cyan4 {
    background: #018579;
}

.cyan5 {
    background: #01a99d;
}

.cyan6 {
    background: #01d7cb;
}

.cyan7 {
    background: #01fff3;
}

.cyan4, .cyan5, .cyan6, .cyan7 {
    color: black;
}

.black1 {
    background: #252525;
}

.black2 {
    background: #414141;
}

.black1, .black2 {
    color: azure;
}

.link_hover a:hover {
    color: #01d7cb;
}