.float {
    opacity: 0;
}

@media (max-width: 48em) {

    .float {
        position: fixed;
        opacity: 1;
        right: 20px;
        bottom: 20px;
        background: rgba(1,169,157,0.67);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        line-height: 38px;
        text-align: center;
        z-index: 1000;
    }

}